* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------Footer Component------------------ */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;

    background: #fbefef;
    border-top: 3px solid #e63946;
    padding: 28px 24px;

    display: flex;
    position: relative;
    justify-content: center;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    z-index: 10;
}

.footer__container {
    align-items: center;
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.footer__text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-size: 17px;
    font-weight: 550;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;    
}

a{
    text-decoration: none;
    color:#e63946;
}

a:hover{
    display: inline-block;
    transform: translateY(-2px);
}

/* ------------------Mobile Responsive------------------ */
@media (max-width: 560px) {
    .footer__text{
        display: grid;
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .footer__text{
        display: grid;
        font-size: 11px;
    }
}