<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pichulie</title>
    <link rel="stylesheet" href="../styles/footer.styles.css">
</head>

<body>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__text">
                <a href="../../pages/about.html" target="_top">About us</a>
            </div>

            <div class="footer__text">
                <span>tel. 3991674532</span>
                <span>fijo. 11323243435</span>
            </div>

            <div class="footer__text">
                <span>PichulieSoftware@gmail.com</span>
                <span>Dir. Kra 119C #55A - 556</span>
            </div>
        </div>
    </footer>
</body>